RewriteEngine On
Options -MultiViews
RewriteBase /
RewriteRule ^sitemap\.xml$ sitemap.php [L]

# Add SVG MIME Type support
AddType image/svg+xml .svg .svgz

# Remove .php extension from links
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Redirect /index.php to /
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteRule ^index\.php$ ./ [R=301,L]

# Redirect .php to clean URL (optional, prevents direct .php access)
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.+)\.php\ HTTP/
RewriteRule ^(.+)\.php$ $1 [R=301,L]
